<div class="booyah-box col-10 offset-1">
  <h1>Create Your Place</h1>
  <%= simple_form_for @place do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <br />
  <div>
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  <div>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>